#include <winver.h>

1 VERSIONINFO
FILEVERSION             1,3,0,0
PRODUCTVERSION        	1,3,0,0
FILEOS                  VOS__WINDOWS32
FILETYPE                VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "Motion adaptive deinterlacing filter."
        VALUE "FileDescription",  "BWDIF for AviSynth 2.6 / AviSynth+"
        VALUE "FileVersion",      "1.3.0"
        VALUE "InternalName",     "BWDIF"
        VALUE "OriginalFilename", "BWDIF.dll"
        VALUE "ProductName",      "BWDIF"
        VALUE "ProductVersion",   "1.3.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
